.navbar { 
    background-color : #15008b; 
  } 
  
  .navbar .navbar-brand, 
  .navbar .navbar-text,
  .nav-item { 
      color : white; 
  }

  .container{
    display: flex;
  }
  .title{
      padding: 2%;
  }
  h2{
    font-family: "Montserrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
    color: white;
  }
  .container-fluid-savings{
    padding: 5% 10% 14%;
    background-color:  rgb(53, 158, 114);
    color:white;
  }
  .container-fluid{
    padding: 5% 10% 12%;
  }
  .title-image {
    width: 120%;
    position: absolute;
    left : 0%;
    height: 150%;
  }
  .buttons{
    left : 10%;
  }
  .download {
    margin: 5% 3% 5% 0;
    left : 10%;
  }
  #features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
  }
  
  .feature-box {
    position: relative;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 15px;
  }
  
  .icon {
    color: #BAF9F1;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #15008b;
  }
  #testimonials {
    text-align: center;
    background-color:  rgb(53, 158, 114);
    color:white;
  }
  
  .carousel-item {
    padding: 7% 15%;
  }
  
  .testimonial-image {
    width: 45%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .container-fluid-1{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .container-fluid-2{
    padding : 15% 30%;
  }
  .container-fluid-data{
      padding: 15% 10%;
  }
  .viewport {
   
    position: absolute;
    height: 65%;
    width: 35%;
    left: 32%;
    top: 110%;
    overflow-x: hidden;
    z-index: 1;
    background: #BAF9F1;
   
    box-shadow: 1px 1px 1px grey;
    

  }
  mat-card {
   
    margin: 1em;
  background-color: #15008b;
  font-weight: 500;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  }
  .detailstable{
    position: absolute;
    height: 15%;
    width: 33%;
    left: 57%;
    top: 30%;
    font-size: 20px;
    background: #BAF9F1;
   
    box-shadow: 1px 1px 1px grey;
    z-index: 1;

  }

  .viewmoretransactions{
    position: absolute;
  left:90.5%;
  font-size:20px;
  color: white;
  background: #15008b;
  border: 2px #15008b;

  top: 165%;
  
  }

  .credittable{

    position: absolute;
    height: 15%;
    width: 28%;
    top: 110%;
    left: 70%;
    font-size: 100%;
    background: #BAF9F1;
   
    box-shadow: 1px 1px 1px grey;
    z-index: 1;


  }

  th{
    font-size: 70%;

  }

  

  .transactiontable{
   
  
    font-size: 20px;
    background: #BAF9F1;
   
    box-shadow: 1px 1px 1px grey;
    z-index: 1;
    position: absolute;
    height: 15%;
    width: 28%;
    top: 150%;
    left: 70%;


  }
  .recentTransactions{
    font-size: 200%;
    font-weight: bold;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
   
    z-index: 1;
    position: absolute;
    height: 15%;
    width: 28%;
    top: 142%;
    left: 70%;

  }
  .viewmore{
    position: relative;
    left: 80%;
    font-size:70%;
    background: transparent;
    border: none;


  }
  #topBar{

    
    border-radius:5% ;
    background-color:wheat;
    width: 45%;
    height: 5%;
    position: absolute;
    left: 25%;
    font-size: 200%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
  }
  b{
    
    position: fixed;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
    left: 60%;
    font-size: 70%;

  }






.trxndetails{

  overflow-y:auto ;
  overflow-x: auto;
  
  position: absolute;
  height: 15%;
  width: 28%;
 
  left: 70%;

}

.button1{
  top :90%;
position: absolute;
left: 30%;

}
.button2{
  top :89%;
    position: absolute;
    padding-left: 3rem;
  left: 39%;
  width: 20%;
}
.button3{
  top :90%;
  position: absolute;
left: 58.8%;
}




  /* Footer */

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
  }
  
  #footer {
    padding: 7% 15%;
    text-align: center;
  }
  
  .row py-4 d-flex align-items-center{
    padding : 10%;
  }
  
  .fb-ic {
    padding-right: 2%;
    width: 10%;
  }
  
  .tw-ic{
   padding-right: 2%; 
  }
  
  .gplus-ic{
    padding-right: 2%;
  }
  
  .li-ic{
    padding-right: 2%;
  }
  .ins-ic{
    padding-right: 2%;
  }