<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form action="filters">	
		
		<label for="date">Transaction Date</label>
	    <input type="date" id="date" name="date">
		<br/>
		
		<label for="type">Transaction Type</label>
	    <input type="text" id="type" name="type">
		<br/>
		
		<label for="startDate">Transaction Date</label>
	    <input type="date" id="startDate" name="startDate">
		<br/>
		
		<label for="endDate">Transaction Date</label>
	    <input type="date" id="endDate" name="endDate">
		<br/>
		
		<button type="submit" value="Submit">Submit</button>
		
	</form>
</body>
</html>